---
---

@import "{{ site.theme }}";

$bp-dark: #333333;
$bp-highlight: #fedb43;

body {
  color:$bp-dark;
}

a {
  color: $bp-highlight;
}

header p {
  color: $bp-dark;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-top: .5em;
}

header #nav {
  list-style: none;
}

header #nav li {
  display: block;
  width: 100%;
  text-align: right;
  border: none;
}
